name: release-package

on:
  workflow_call:
    inputs:
      package:
        type: string
        required: true

permissions:
  contents: read
  packages: write

jobs:
  release-package:
    name: Release ${{ inputs.package }} package
    runs-on: ubuntu-latest
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - name: Create multi-arch image
        run: |
          set -euxo pipefail

          SHA_SHORT=$(git rev-parse --short HEAD)
          VERSION=$(cat VERSION)

          package="${{ matrix.package }}"
          tag_ver="ghcr.io/walletconnect/${package}:${VERSION}"
          amd="ghcr.io/walletconnect/${package}:${SHA_SHORT}-amd64"
          arm="ghcr.io/walletconnect/${package}:${SHA_SHORT}-arm64"

          docker buildx imagetools create --tag "${tag_ver}" "${amd}" "${arm}"
